@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    display: grid;
    justify-content: space-between;
    background-color: #eee; 
    justify-items: center;
}

nav{    
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
    width: 100%;  
    position: sticky;
    background-color: rgb(255, 255, 255);
}

.logo{
    margin-left: 50px;
}

.navList ul{
    display: flex;
    margin-right: 50px;
}

li{
    list-style: none;
    padding: 5px;
    margin-right: 3px;    
}

a{
    text-decoration: none;
    border-radius: 0px;
    padding: 29px;
    color: rgba(0, 0, 0, 0.562);
    font-weight: 500;
}

li a:hover{
    background-color: #020873;
    color:#ffffffda ;
}

img{
    width: 225px;
    height: auto;
    margin-right: 10px;    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    height: 100vh;    
    padding: 50px;
}

.galeria{
 height: 100vh;
}

.songs{
    height: 100vh;        
}

.members{
    height: 100vh;   
}

.contenedor{
    margin-top: 100px;
    width: 100%;    
    display: flex;
    align-items: center;   
}

p{
    text-align: justify;
    padding: 20px;
    margin-right: 50px;
}

.Foto{
    width: 500px;
    height: auto;
    margin-left: 50px;
    margin-right: 10px;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}

.section_galery{
    display: flex;
    width:1000px;
    height: 450px;
}

.section_galery .img_galery{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    transition: .5s ease;
}

.section_galery .img_galery:hover{
    cursor: crosshair;
    width: 400px;
    opacity: 1;
}

.contenedor_galery{
    width: 100%;
    display: flex;
    justify-content: center;    
}

.contenedor_songs{
    margin-top: 170px;
    width: 100%;    
    align-items: center;  
    justify-content: space-between;
}

.contenedor_tabla{
    width: 100%;
    display: flex;
    justify-content: center;
}

table{
    width: 60%;
    font-size: smaller;   
}

th, td{
    width: 5%;
    text-align: center;
    vertical-align: center;
    padding: 0.3rem;
    caption-side: bottom;
}

caption{
    padding: 0.3rem;
    color: #fff;
    background: #000;
}

th{
    background-color: #02087300;
    color: white;
}

footer{
    width: 100%;
    padding: 50px 0px;
    color: #020873;
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box_footer{
    display: flex;
    flex-direction: column;
    padding: 1px;
}

.box_footer .logo img{
    width: 200px;
    border-radius: 00px;    
}

.box_footer .terminos{
    max-width: 550px;    
    font-weight: 500;
    color: #7a7a7a;
    font-size: smaller;
}

.box_footer h2{
    margin-bottom: 10px;
    color: #343434;
    font-weight: 700;
    font-size: smaller;
}

.box_footer a{    
    color: #7a7a7a;
    font-weight: 400;
    font-size: smaller;
}

.box_footer a:hover{
    opacity: 0.8;
}

.box_footer a .fa-brands{
    font-size: 20px;
    margin-right: 5px;    
}

.box_copyrigth{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.box_copyrigth p{
    margin-top: 5px;
    color: #7a7a7a;
    font-size: smaller;
}

.box_copyrigth hr{
    border: none;
    height: 1px;
    background-color: #343434;
}


@media (max-width:320px) {   
    nav{
        height: 60px;
        width: 100%;
        justify-self: normal;
        position: sticky;
    }

    .body{
        font-size: 1.5rem;
        display: grid;
        justify-content: center;
        justify-items: stretch;
        background-color: #eee; 
    }

    .logo{
        margin-left: 20px;
    }

    .navList ul{       
        margin-right: 0.5px;
        justify-items: center;
    }

    nav{       
        align-items: stretch;
    }

    li{
        padding: 2px;
        margin-right: 0px;   
        justify-content: center;
    }

    li a:hover{
       padding: 12px;
       justify-content: normal;
    }

    a{
        font-size: small;
        font-weight: 100;
        padding: 5px;
    }

    img{
        width: 80px;
        height: auto;

        margin-right: 0px;    
    }

    span{
        font-size: x-large;    
        color: #020873;
    }
    
    .contenedor{
        width: 100vw;
        height: 100vh;
        margin-top: 10px;       
        display: flex;
        flex-direction: column;
        margin-right: 2px;
        justify-content: normal;
        align-items: baseline;
    }

    .Foto{
        margin: 0;
        margin-bottom: 20px;
        width: 90vw;
        align-content: center;
        height: auto;
    }

    p{
       width: 100vw;       
       font-size: large;        
       margin-right: 10px;        
       margin-left: 10px;   
    }

    .contenedor_members{
        width: 100%;     
        justify-content: center;
    }

    .contenedor_songs{
        width: 100vw;
        height: 100vh;
        margin-top: 15px; 
        margin-bottom: 120px ;      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .img_galery{
       size: 2px;


    }

    table{
     margin-top: 130px;
     margin-bottom: 0px;
    width: 88%;
    font-size: small;  
    justify-content: center;
    display: block;
    overflow-x: auto;
    }

    .galery{
        margin-top: 120px;        
        margin-left: 50px;        
        width: 100vw;

    }

}
